<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		li{ list-style: none; }

	</style>
</head>
<body>

	<!--  ejs的注释 "#" 转义输出"=" 直接输出"-"  -->
	

	<!-- 引用组件 include() -->

	<div class="nav">
	<p>我来组成头部</p>
</div>


	
	<table border="1" width="100%">
		<thead>
			<tr>
				<td>姓名</td>
				<td>性别</td>
				<td>语文</td>
				<td>数学</td>
				<td>英语</td>
			</tr>
		</thead>
		<tbody>
			
				<tr>
					<td>dai</td>
					<td>女</td>
					<td>90</td>
					<td>88</td>
					<td>100</td>
				</tr>
			
				<tr>
					<td>dai111</td>
					<td>女</td>
					<td>90</td>
					<td>88</td>
					<td>2</td>
				</tr>
			
				<tr>
					<td>haha</td>
					<td>女</td>
					<td>90</td>
					<td>88</td>
					<td>2</td>
				</tr>
			
				<tr>
					<td>dai111</td>
					<td>女</td>
					<td>90</td>
					<td>88</td>
					<td>2</td>
				</tr>
			
				<tr>
					<td>dai111</td>
					<td>女</td>
					<td>90</td>
					<td>88</td>
					<td>2</td>
				</tr>
			
			
		</tbody>
	</table>

	<h1>我来组成尾</h1>
</body>
</html>