.background{ width: 100%; height: 27.1rem; background-image: url(http://xg-img.oss-cn-hangzhou.aliyuncs.com/zhongbai/background1.png); background-size: cover; position: relative; }
.banner{ width: 100%; height: 13.9rem; background-image: url(http://xg-img.oss-cn-hangzhou.aliyuncs.com/zhongbai/background0.png); background-size: cover;}

.top{
	position: relative;
	left: 0.9rem;
	top: 4.7rem;
}
.page-img{
	position: relative;
}
.page-img li{
	width: 14.6rem;
	height: 7rem;
	position: absolute;
	overflow: hidden;
}
.page-img li img{
	width: 14.6rem;
	height: 7rem;
}
.page-txt{
	position: relative;
	top: -2.5rem;
	left: -0.1rem;
}
.page-txt li{
	width: 14.9rem;
	height: 2.1rem;
	position: absolute;
	overflow: hidden;
	top: 4.7rem;
	left: -0.1rem;
}
.page-txt li img{
	width: 14.9rem;
	height: 2.1rem;
}

